<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">SIDDHIVINAYAK HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/appointmentlist">Back</a>
          </li>
      </ul>
      
    </div>
  </nav>
  <div class="container">
  <hr>

<div class="container">

    <h2 class="text-center">Add new appointment</h2>
<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="appointment.name">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" name="age" class="form-control" id="age" placeholder="Enter Age" [(ngModel)]="appointment.age">
    </div>
    <div class="form-group">
        <label>Smptomps</label>
        <input type="text" name="smptomps" class="form-control" id="smptomps" placeholder="Enter Smptomps" [(ngModel)]="appointment.smptomps">
    </div>
    <div class="form-group">
        <label>Number</label>
    <input type="text" name="number" class="form-control" id="number" placeholder="Enter Namber" [(ngModel)]="appointment.number">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
